:root {
    --blue: #5E9FFF;
}

.date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h4{
    margin-top: 10vh;
    text-align: start !important;
}

.date-picker {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: #d9d9d9;
    color: var(--blue);
    font-weight: bolder;
}

.date-picker:focus {
    outline: none;
    box-shadow: 0 0 5px var(--blue);
}

header {
    margin: 0;
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    grid-column: span var(--column);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    margin: 0;
}

#chartData {
    margin-bottom: 5vh;
}

content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#element {
    width: 70vw !important;
}